<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://re-platform-fapp-xml-send-csv-wellsfargo-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a01f2fdf-2880-4318-81f1-d14241e9c7a8/resourceGroups/PLATFORM-FAPP-DEV-RG/providers/Microsoft.Web/sites/re-platform-fapp-xml-send-csv-wellsfargo-dev</ResourceId>
    <UserName>$re-platform-fapp-xml-send-csv-wellsfargo-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://re-platform-fapp-xml-send-csv-wellsfargo-dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>